In [9]:
import pandas as pd

In [ ]:
def dataformat(data):
    X=data.iloc[:,:-1]
    y=data.iloc[:,-1]
    print(X.shape)
    print(y.shape)
    return X,y

In [7]:
df=pd.read_csv('C:/Users/User/Desktop/git test/Heart data.csv')
df

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [10]:
dataformat(df)

(597, 13)
(597,)

(     Age (age in year)  sex  chest pain  blood pressure  cholestoral   \
 0                   63    1           1           145.0         233.0
 1                   37    1           3           130.0         250.0
 2                   41    0           2           130.0         204.0
 3                   56    1           2           120.0         236.0
 4                   57    0           4           120.0         354.0
 ..                 ...  ...         ...             ...           ...
 592                 52    1           4           140.0         266.0
 593                 43    1           4           140.0         288.0
 594                 41    1           4           120.0         336.0
 595                 44    1           4           135.0         491.0
 596                 49    1           4           150.0         222.0

      blood sugar  electrocardiographic   heart rate  exercise induced  \
 0            1.0                    2.0       150.0               0.0
 1            0.0                    0.0       187.0               0.0
 2            0.0                    2.0       172.0               0.0
 3            0.0                    0.0       178.0               0.0
 4            0.0                    0.0       163.0               1.0
 ..           ...                    ...         ...               ...
 592          0.0                    0.0       134.0               1.0
 593          0.0                    0.0       135.0               1.0
 594          0.0                    0.0       118.0               1.0
 595          0.0                    0.0       135.0               0.0
 596          0.0                    0.0       122.0               0.0

      depression   slope   ca  thal
 0            2.3    3.0  0.0   6.0
 1            3.5    3.0  0.0   3.0
 2            1.4    1.0  0.0   3.0
 3            0.8    1.0  0.0   3.0
 4            0.6    1.0  0.0   3.0
 ..           ...    ...  ...   ...
 592          2.0    2.0  NaN   NaN
 593          2.0    2.0  NaN   NaN
 594          3.0    2.0  NaN   NaN
 595          0.0    NaN  NaN   NaN
 596          2.0    2.0  NaN   NaN

 [597 rows x 13 columns],
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 592    1
 593    1
 594    1
 595    1
 596    1
 Name: c, Length: 597, dtype: int64)